//* =============================================================================
//   Default Colours
//   ========================================================================== */

// Primary colours
$yellow: #ff944c;
$blue: #667080;

// Shades
$white: white;
$off-white: #dad9d6;
$light-grey: #adaeb0;
$grey: #686869;
$dark-grey:#4c4845;
$black: #222223;

// Colour variables - Useful for changing the entire colour scheme
$background: $white;
$dark-background: $blue;
$text: $blue;
$mid-text: $grey;
$light-text: $light-grey;
$accent: $yellow;
